@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap%27');
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: linear-gradient(180deg, rgba(40, 100, 255, 0.048) 0%, rgba(40, 100, 255, 0.048) 100%), #F7F8FD;  animation: fade-in 1s ease;
}

.logo {
  position: absolute;
  margin-left: 21vh;
  margin-top: 4vh;
  transform: translate(-15%, -15%);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: translate(-15%, -15%) scale(1.1);
}

.text {
  position: fixed;
  width: 583px;
  height: 248px;
  left: 11%;
  top: 26%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 114.5%;
  color: #03045E;
}

.transform {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: #2864FF;
}

.sub-text {
  position: fixed;
  width: 519px;
  height: 11%;
  left: 11%;
  top: 55%;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: #03045E;
}

.cartoon {
  position: absolute;
  top: 52%;
  left: 82%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.cartoon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.box {
  position: fixed;
  width: 293px;
  height: 49px;
  left: 10.9%;
  top: 68.8%;
  background: #2864FF;
  box-shadow: 0px 4px 33px 6px rgba(40, 100, 255, 0.16);
  border-radius: 14px;
}

.box-text {
  position: fixed;
  font-family: Poppins;
  color: white;
  margin-left: 2%;
  margin-top: 0.6%;
  font-size: large;
}

.arrow {
  position: fixed;
  margin-left: 12%;
  margin-top: 0.8%;
  width: 0.6%;
}

nav ul {
  float: right;
  margin-right: 17vh;
}

nav li {
  margin-right: 2vh;
  margin-top: 3vh;
  display: inline-block;
  margin-left: 1vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  position: relative;
  transition: transform 0.3s ease;
}

nav li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2864FF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2864FF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav li:hover {
  transform: translateY(1px);
}

nav li:hover::before {
  transform: scaleX(1);
}

a {
  color: #03045E;
  text-decoration: none
}