@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@700&family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap%27");
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: linear-gradient(
      180deg,
      rgba(40, 100, 255, 0.048) 0%,
      rgba(40, 100, 255, 0.048) 100%
    ),
    #f7f8fd;
  animation: fade-in 1s ease;
}

header {
  background: #2c3e50;
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0em;
  left: 0;
}

.logo {
  position: absolute;
  margin-left: 21vh;
  margin-top: 4vh;
  transform: translate(-15%, -15%);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: translate(-15%, -15%) scale(1.1);
}

.text {
  position: absolute;
  width: 583px;
  height: 248px;
  left: 11%;
  top: 26%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 114.5%;
  color: #03045e;
}

.transform {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  color: #2864ff;
}

.sub-text {
  position: absolute;
  width: 519px;
  height: 11%;
  left: 11%;
  top: 55%;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: #03045e;
}

.cartoon {
  position: absolute;
  top: 52%;
  left: 82%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.cartoon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.box-container {
  position: absolute;
  left: 10.9%;
  top: 68.8%;
  z-index: 9999;
}

.box {
  display: inline-block;
  width: 293px;
  height: 49px;
  background: #2864ff;
  box-shadow: 0px 4px 33px 6px rgba(40, 100, 255, 0.16);
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
}

.box-text {
  position: relative;
  font-family: Poppins;
  color: white;
  margin-left: 9%;
  margin-top: 4%;
  font-size: large;
  transition: opacity 0.3s ease-in-out;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.arrow {
  width: 13px;
  transition: transform 0.3s ease-in-out;
}

.box:hover .box-text {
  opacity: 0.8;
}

.box:hover .arrow-container {
  opacity: 1;
}

.box:hover .arrow {
  transform: scale(1.1);
}

nav ul {
  float: right;
  margin-right: 17vh;
}

nav li {
  margin-right: 2vh;
  margin-top: 1.7vh;
  display: inline-block;
  margin-left: 1vw;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  position: relative;
  transition: transform 0.3s ease;
}

nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2864ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2864ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav li:hover {
  transform: translateY(1px);
}

nav li:hover::before {
  transform: scaleX(1);
}

.dropdown {
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding: 10px;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  border-radius: 10%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu li {
  margin: 5px 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-menu li {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu li a {
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  border-radius: 10%;
}

a {
  color: #03045e;
  text-decoration: none;
}

.section {
  width: 80%;
  height: 80vh;
  transition: transform 1s, opacity 1s;
}

#products {
  max-width: 1320px;
  margin: 0 auto;
  padding: 5%;
}

@media (max-width: 768px) {
  .text {
    position: absolute;
    width: 583px;
    height: 248px;
    left: 11%;
    top: 30%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 114.5%;
    color: #03045e;
    width: 80%;
    max-width: 583px;
    left: 56%;
    transform: translateX(-50%);
  }

  .sub-text {
    position: absolute;
    width: 519px;
    height: 11%;
    left: 11%;
    top: 50%;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    color: #03045e;
    width: 80%;
    max-width: 519px;
    left: 56%;
    transform: translateX(-50%);
  }

  .cartoon {
    display: none;
  }

  nav ul {
    float: right;
    margin-right: 4vh;
  }

  nav li {
    margin-right: 2vh;
    margin-top: 8vh;
    display: inline-block;
    margin-left: 1vw;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    position: relative;
    transition: transform 0.3s ease;
  }

  .logo {
    margin-top: 4%;
    margin-left: 47%;
  }
  .box-container {
    position: fixed;
    left: 10.9%;
    top: 70%;
    z-index: 9999;
  }
  nav li:hover {
    transform: translateY(1px);
  }

  nav li:hover::before {
    transform: scaleX(1);
  }

  .dropdown {
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    padding: 10px;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    border-radius: 10%;
  }

  .dropdown:hover .dropdown-menu {
    display: flex;
    padding: 10%;
    opacity: 1;
    transform: translateY(0);
    margin-left: -100%;
  }

  .dropdown-menu li {
    margin: 5px 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .dropdown:hover .dropdown-menu li {
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown-menu li a {
    margin-right: 2vh;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .dropdown-menu li a:hover {
    /* background-color: #2864ff; */
    color: white;
    border-radius: 10%;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 36px;
  }

  .sub-text {
    font-size: 16px;
  }

  .cartoon {
    display: none;
  }
}
